*{
    margin: 0;
    padding: 0;
}

body{
    background-color: skyblue;
}

#grass{
    background-color: #7CFC00;
    height: 30vh;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table{
    position: fixed;
    top:0;
}

.clouds{
    height: 5vh;
    width: 25vw;
    background-color: #fff;
    margin: 10px;


    animation: anim 20s infinite;
}
.clouds1{
    height: 10vh;
    width: 10vw;
    background-color: #fff;

    padding: 10px;

    animation: anim1 10s infinite;

}
.clouds2{
    height: 10vh;
    width: 10vw;
    background-color: #fff;

    padding: 10px;

    animation: anim1 10s infinite;

}

@keyframes anim{
    0%{
        transform: translate(0,0);
    }
    100% {
        transform: translate(25vw, 0);
    }
}
@keyframes anim1{
    0%{
        transform: translate(25vw,0);
    }
    100% {
        transform: translate(0, 0);
    }
}