*{
    margin: 0;
}

table {
    border-collapse: collapse;
}

table tr td:nth-child(1), table tr:last-child,thead{
    font-weight: bolder;

}
tfoot td{
    font-weight: bolder;

}
td{
    padding: 8px;
    border: 1px black solid;

}
